# macOS
.DS_Store

# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcuserdata/

# Xcode build products
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
!WalkWorthy.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Fastlane
test_output/
fastlane/report.xml
fastlane/Preview.html

# Coverage
*.xccovreport
*.xccovarchive

# Logs
*.log

# Local Xcode config secrets
Config/LocalSecrets.xcconfig
